.advantage-card {
  max-width: 18rem;

  .card-title {
    line-height: 1.25;

    @include media-breakpoint-down('sm') {
      @include font-size($font-size-xs);
      line-height: 1.16;
    }
  }

  .card-subtitle {
    line-height: 1.4285;
    letter-spacing: 0.5px;

    @include media-breakpoint-down('sm') {
      @include font-size($font-size-xs);
      line-height: 1.16;
    }
  }

  .card-text {
    max-width: 36.6875rem;
  }

  .icon-wrapper {
    width: 5.375rem;
    height: 5.375rem;
    min-width: 5.375rem;

    @include media-breakpoint-down('sm') {
      width: 4rem;
      height: 4rem;
    }

    .icon {
      max-width: 100%;
      max-height: 100%;
    }
  }
}


.category-card {
  .card-title {
    @include media-breakpoint-down('sm') {
      @include font-size($font-size-sm);
      line-height: 1.142857;
    }
  }
}


.product-card {
  max-width: 23.75rem;

  .card-title,
  .card-price,
  .card-text {
    @include media-breakpoint-down('sm') {
      @include font-size($font-size-sm);
      line-height: 1.142857;
    }
  }

  .card-action {
    position: relative;
    z-index: 2;
  }

  &.hoverable .card-actions {
    transition: $transition-fade;
    opacity: 0;
  }

  &.hoverable .card-text-wrapper:hover .card-actions,
  &.hoverable .card-img-wrapper:hover .card-actions,
  &.hoverable:hover .card-actions {
    opacity: 1;
  }

  &.hoverable .card-text-wrapper .card-actions {
    @include media-breakpoint-down('sm') {
      opacity: 1;
    }
  }
}


.product-card-small {
  //.card-title,
  //.card-price,
  //.card-text {
  //  @include font-size($font-size-sm);
  //  line-height: 1.142857;
  //}
}
