html .freedeliveryfvsport {
  position: static;
}

html .dialog-window .dialog-close {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
}

html .dialog-window .cart .dialog-close {
  margin-top: -10px;
}
