.header-submenu {
  &-container {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    background-color: rgba($white, .9);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .2s ease-in-out;

    &.show-submenu {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 1.1rem;
      margin-top: -1.1rem;
      top: 0;
    }
  }

  &-wrapper {
    &.container-fluid {
      max-width: 1180px;
    }
  }

  &-column {
    max-width: 25%;
  }
}
